@model Jewelry
<div class="col-lg-4 col-md-4 col-sm-4">

    <div class="thumbnail">

        <img src="@Model.ImgThumUrl" alt="image for jewelry shop" />

        <div class="caption">
            <h2><a asp-controller="Jewelry" asp-action="Details" asp-route-id="@Model.JewelryId">@Model.Name</a></h2>
            <div class="productItem">
                <div class="productDetail">
                    <div class="productName detailUrl">
                        <p>@Model.Description</p>
                    </div>
                </div>
                <div class="productPrice">
                    <div class="discountPrice">
                        <span><b>@Model.Price.ToString("c")</b></span>
                    </div>
                </div>
            </div>

        </div>


        <div class="mycartIcon tip" title="Sepete Ekle">
            <a class="btnAddToCart"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-jewelryId="@Model.JewelryId">

                <span class="urunListeSpanSepeteEkle">
                    Sepete Ekle
                </span>
            </a>

        </div>

    </div>
</div>